@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>ثبت نام</h1>
<form asp-controller="Home" asp-action="SaveUser" method="post">
    <label>نام:</label>
    <input type="text" name="Name" />
    <br />
    <label> نام خانوادگی:</label>
    <input type="text" name="Family" />
    <br />
    <label>تاریخ تولد:</label>
    <input type="text" data-jdp placeholder="لطفا یک تاریخ وارد نمایید" name="Birthday" id="dt" />
    <br />
    <label>ایمیل:</label>
    <input type="text" name="Email" />
    <br />
    <label>رمز عبور:</label>
    <input type="text" name="password" />
    <br />
    <label>شماره تماس:</label>
    <input type="text" name="Phone" />
    <br />
    <input type="submit" class="btn btn-primary" value="ذخیره" />
</form>
@section Scripts{
    <script>
jalaliDatepicker.startWatch({
  minDate: "attr",
  maxDate: "attr"
}); 
/* Below is a js demo | you don't need to use */
setTimeout(function(){
  var elm=document.getElementsById("dt")[0];
  elm.focus();
  jalaliDatepicker.hide();
  jalaliDatepicker.show(elm);
}, 1000);
</script>
}
